html {
    height: 100%;
}
header {
    background-color: #bce0fd;
    display: inline-block !important;
}
header > .inner {
    display: flex;
}
header > .inner > .navbar-nav {
    float: right;
}
header .nav-link {
    color: #2499fb;
    font-weight: bold;
}
header .navbar-nav .dropdown-menu-right {
    top: inherit;
}
/*
h2, label, p {
    color: #2499fb;
}*/
.inline-block {
    display: inline-block;
}

.btn-choose-account > .btn {
    border-radius: 0px;
    border: 1px solid #2499fb;
    color: #2499fb;
    margin: .5em 0px;
    padding: 2em;
    font-weight: bold;
}
.btn-choose-account > .btn.active,
.btn-choose-account > .btn:hover {
    background-color: #bce0fd !important;
    color: #2499fb !important;
}

.box-co2-water img {
    width: 80px;
}

footer {
    background: #2499fb !important;
}